---
layout: default
---
<h1>Posts Tagged with "{{ page.tag }}"</h1>

<ul class="post-list">
  {% for post in site.tags[page.tag] %}
  <li>
    <h3 class="post-title">
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </h3>
    <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
  </li>
  {% endfor %}
</ul>

<hr>

<div class="all-tags-list">
  <h3>View all tags:</h3>
  {% for tag in site.tags %}
  <a href="{{ '/tags/' | relative_url }}{{ tag | first | slugify }}/">{{ tag | first }} ({{ tag | last | size }})</a>
  {% endfor %}
</div>